<nav>
  <div class="site-title">
    <a href="/">
      <h1>Food Finder</h1>
    </a>
    <p>A Dynamic recipe finder</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Add recipe</a></li>
  </ul>
</nav>
