<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about">
      <h2>About us</h2>
      <img alt="Poster" id="poster" src="/images/TiaAndYves.JPG" />
      <p>
        2020 started of in an awkward way , i think we will all agree to that..
        However , it also forced us to stay indoors alot more than we had
        planned and as a result we had more time to work on eachothers nerves ;)
      </p>
      <p>
        Thinking about what to eat and getting frustrated over it gave my lovely
        wife the idea taking pictures of every dish we made and save it for
        later use so we could go through the pictures if we didn't know what to
        eat
      </p>
      <p>
        So we created this website where you can find the result of our (hers)
        creativity in delicious dishes all made with fresh ingredients ,love and
        passion
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
